.form-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.form-box {
  background: #111;
  padding: 30px;
  width: 400px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
  color: white;
}

.form-title {
  text-align: center;
  margin-bottom: 20px;
  color: #4facfe;
}

input {
  width: 100%;
  padding: 10px;
  background: #222;
  border: 1px solid #333;
  border-radius: 5px;
  color: white;
  margin-bottom: 15px;
}

.save-btn {
  width: 100%;
  padding: 12px;
  background: #007bff;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  border: none;
}
